@font-face {
	font-family: 'SFProDisplay';
	src: url(http://localhost:8888/covid19pad_wp/wp-content/themes/covid/assets/fonts/SFProDisplay.ttf);
	font-weight: normal;
	}
html {
	margin-top: 0;
}
body {
    font-family: 'SFProDisplay';
    font-weight: normal;
    margin: 0;
	color:#0B2628;
	background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6, a, p, button, li, input, textarea {
    font-family: 'SFProDisplay';
    font-weight: normal;
}

h1 {
	font-size: 54px;
	font-weight: bold;
}

h2 {
	font-size: 48px;
	font-weight: bold;
}

h3 {
	font-size: 34px;
	font-weight: bold;
}

/* HEADER */

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px hsla(0,0%,50.2%,.35);
}

header .contain {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .contain .links {
    display: flex;
    align-items: center;
}

header .contain .links a {
    margin-left: 35px;
    font-weight: 600;
    cursor: pointer;
}

header .contain .links a.action {
    color: #00bf6f;
}

header .contain .links .btn {
    margin-left: 30px;
}

.btn {
    background-color: #00bf6f;
    color: #fff;
    padding: 15px 35px;
    font-weight: 700;
    font-size: 16px;
    width: auto;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
    line-height: 1;
}

header .contain .logo {
    height: 47px;
    cursor: pointer;
}

/* FOOTER */

footer {
    background: #fff;
    border-top: 2px solid #eaeaea;
    padding: 20px 0;
}

footer .contain {
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer .contain .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer img {
    height: 47px;
}

footer .contain .left p {
    margin-top: 20px;
}

footer p {
    color: #000;
    margin: 0;
    text-align: center;
}

footer .contain .right .links {
    display: flex;
    align-items: center;
}

footer .contain .right .links a {
    margin-left: 35px;
    font-weight: 600;
    cursor: pointer;
}

footer .contain .right .links a.action {
    color: #00bf6f;
}

footer .contain .right .links .btn {
    margin-left: 30px;
}

.btn {
    background-color: #00bf6f;
    color: #fff;
    padding: 15px 35px;
    font-weight: 700;
    font-size: 16px;
    width: auto;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
    line-height: 1;
}

header .contain .profile-icon {
    height: 19px;
    display: none;
    cursor: pointer;
}

/* BANNER */

 .homepage-hero {
    min-height: 600px;
    height: 100vh !important;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.banner_holder_covidpad {
    display: flex;
    margin: auto;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    top: 0;
    z-index: 9;
    justify-content: center;
    position: absolute;
    background: #0b2628;
    color: #fff;
    width: 100%;
}

.banner_covid {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.covidpadabout {
    max-width: 555px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.covidpadabout h2 {
	margin: 0;
}

.covidpadabout p {
	margin: 0;
	font-family: 'SFProDisplay';
	font-weight: 600;
}

.promo {
	margin-top: 30px;
}

.price {
	display: flex;
}

.price h1 {
	margin: 10px 0;
}

.period {
	margin: 45px 10px 0;
}

.btn.text_btn {
    background: transparent;
    color: #00bf6f;
}

.btns {
    margin-top: 40px;
}
/* BENEFITS */

.covidpad_benefits_title {
    background-color: #FBFBFB;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 18px 350px;
}

.covidpad_benefits {
    background-color: #F0F0F0;
}

.site_margins {
    width: 100%;
    max-width: 1400px;
    padding: 50px 75px;
    margin: auto;
    box-sizing: border-box;
}

.benefits_flex {
    display: flex;
    justify-content: space-evenly;
}

.benefits_column {
    display: flex;
    flex-direction: column;
}

.benefits_item img {
    height: 30px;
    padding-right: 30px !important;
}

.benefits_item {
    display: flex;
    margin: 5px;
}

.benefits_item {
    display: flex;
    margin: 15px;
}

/* FEATURES TITLE */

.covidpad_flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 50px;
}

/* FEATURES */

.feature_flex {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.covidpad_green {
	background-color: #daf3e9;
}

.covid_kiosk {
	display: flex;
	justify-content: center;
}

.covid_kiosk img {
    width: 30%;
}

.feature_text {
    width: 70%;
}

.feature_flex_color {
    display: flex;
    width: 100%;
    box-sizing: border-box;
	justify-content: space-around;
	flex-direction: row-reverse;
    align-items: center;
}

/* CONTACT */

.covid_contact {
    background-color: #f0f0f0;
}
.contact_flex p {
    font-size: 48px;
    color: #00bf6f;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: lowercase;
}




/* MEDIA QUERIES */

@media screen and (max-width:1100px) {

	/* .mobile-nav {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 30px;
		z-index: 10;
		background-color: rgba(0,191,111,.91);
	} */
	
	header .contain .links {
		display: none;
	}

	header .contain {
		padding: 0 30px;
	}

	header .contain .profile-icon {
		display: block;
	}
	header .contain .profile-icon img{
		height: 19px;
	}

	.covidpad_benefits_title {
		padding: 18px 50px;
	}

	h1 {
		font-size: 45px;
	}

	.contact_flex p {
		font-size: 44px;
	}

	footer .contain {
		flex-direction: column;
	}
	footer .contain .right {
		margin-top: 50px;
	}

	footer .contain .left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	footer .contain .right .links {
		flex-direction: column;
		align-items: flex-start;
	}

	footer .contain .right .links a {
		margin-left: 0;
		margin-bottom: 10px;
	}

	footer .contain .right .links .btn {
		margin-left: 0;
		margin-top: 30px;
	}
}

@media screen and (max-width:900px) {
    .covidpad img {
		width: 300px;
	}

	h2 {
		font-size: 40px;
		font-weight: 700;
	}

	.covidpadabout {
		margin-left: 40px;
	}
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
	}
	
	.feature_flex {
	flex-direction: column;
	}

	.feature_flex_color {
		flex-direction: column;
	}
}

@media ( max-width: 600px ) {
	h1 {
		font-size: 30px;
	}

	.contact_flex p {
		font-size: 30px;
	}
	
    h2 {
        margin-bottom: 25px;
    }

    .site_margins, .contain {
        padding: 50px 25px;
    }

    .project_display_label {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    body {
        overflow-x: hidden;
    }
 