/*!
Theme Name: covid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: covid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

covid is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
.homepage-hero-module.home_module{min-height:600px;height:100vh !important;margin-top:0;overflow:hidden;display:flex;justify-content:center}.reseller_banner{width:100%;height:100%;object-fit:cover}.banner_holder_covidpad{display:flex;margin:auto;transition:transform 1s;height:90vh;min-height:600px;overflow:hidden;top:0;z-index:9;justify-content:center;position:absolute;background:#0b2628;color:#fff;height:100%;width:100%}.banner_covid{display:flex;align-items:center;margin-top:50px}.covidpadabout{width:400px;display:flex;flex-direction:column;margin-left:100px}.benefits_item_banner{display:flex;margin:5px}